main {
  flex-direction: column;
  place-content: center;
  display: flex;
  width: 28vw;

  background-color: $card;
  padding: 0.5% 0.5% 2%;
  border-radius: 15px;
  margin: auto auto;

  font-family: $outfit;
  color: $white;

  .itemFigure {
    border-radius: 15px;
    position: relative;
    margin: 3% auto;
    img:nth-child(1) {
      border-radius: 15px;
      height: 50vh;
      width: 25vw;
    }
    img:nth-child(2) {
      position: absolute;
      display: none;
      bottom: 43%;
      left: 43%;
    }
  }
  
  .itemFigure:hover {
    background-color: $cyan;
    img:nth-child(1) {
      opacity: 0.5;
    }
    img:nth-child(2) {
      display: block;
    }
  }

  .itemDescription {
    font-size: $text;
    padding: 3% 5%;
    h1 {
      margin-bottom: 5%;
    }
    h1:hover {
      color: $cyan;
    }
    h2 {
      color: $shoftBlue;
      font-weight: 100;
    }
  }

  .itemInfo {
    justify-content: space-between;
    flex-direction: row;
    display: flex;

    padding: 3% 5%;
    figure {
      justify-content: space-between;
      align-self: center;

      flex-direction: row;
      display: flex;
    }
    figure:nth-child(1) {
      p {
        color: $cyan;
        margin-left: 5px;
        display: inline-flex;
      }
    }
    figure:nth-child(2) {
      p {
        color: $shoftBlue;
        margin-left: 5px;
        display: inline-flex;
      }
    }
  }

  hr {
    border: 0.2px solid $line;
    margin: 3% auto;
    width: 90%;
  }

  .creator {
    align-items: center;
    display: flex;
    padding: 2% 5%;
    figure {
      height: 30px;
      img {
        height: 30px;
        border-radius: 50%;
        border: 1px solid $white;
      }
    }
    h3 {
      color: $shoftBlue;
      margin-left: 15px;
      font-weight: 300;
      font-size: 16px;
      span {
        color: $white;
      }
      span:hover {
        color: $cyan;
      }
    }
  }
}
